.home {
  grid-column: 1 / span 3;
  grid-row: 2;

  &__content {
    height: fit-content;
    display: grid;
    grid-template-rows: 10rem 25rem 15rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  &__heading {
    grid-column: 1 / span 3;
    align-self: center;
    text-align: center;
  }

  &__sub-heading {
    grid-column: 1 / span 3;
    align-self: center;
  }

  &__motto {
    text-align: center;
    font-family: "Formula1Bold", sans-serif;
    font-style: italic;
    font-size: 4rem;
    grid-column: 1 / span 2;
    color: var(--color-secondary);
    text-shadow: var(--shadow);
  }

  &__btn-container {
    grid-column: 1 / span 2;
    grid-row: 5;
    align-items: center;
    display: flex;
    justify-content: center;
    height: min-content;
    gap: 1rem;

    @media only screen and (max-width: 50em) {
      display: flex;
      flex-direction: column;
    }
  }
}

.bg-video {
  grid-row: 1;
  grid-column: 1 / span 3;

  &__content {
    width: 100%;

    object-fit: cover;
    opacity: 0.05;
  }
}
