@font-face {
	font-family: "Formula1Regular";
	src: url(../assets/fonts/Formula1-Display-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Formula1Wide";
	src: url(../assets/fonts/Formula1-Display-Wide.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Formula1Black";
	src: url(../assets/fonts/Formula1-Display-Black.ttf) format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Formula1Bold";
	src: url(../assets/fonts/Formula1-Display-Bold.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
}
