.heading--1 {
	font-size: 5rem;
	font-family: var(--font-family-bold);
	color: var(--text-color-primary);
	text-shadow: var(--shadow);

	@media only screen and (max-width: 80em) {
		font-size: 3rem;
	}
}

.heading--2 {
	font-size: 4rem;
	font-family: var(--font-family-regular);
	color: var(--text-color-primary);
	text-shadow: var(--shadow);

	@media only screen and (max-width: 80em) {
		font-size: 2rem;
	}
}

%btn {
	border: none;
	display: inline-block;
	font-size: 2rem;
	font-family: var(--font-family-regular);
	font-weight: bolder;
	width: 20rem;
	height: 7rem;
	padding: 0 5rem;
	border-radius: 2rem;
	border: 2px solid var(--text-color-primary);
	box-shadow: var(--shadow);
	transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite;
	&:hover {
		animation: pulsate 1s infinite;
	}
}

.btn-primary {
	@extend %btn;
	background-color: var(--color-secondary);
	color: var(--text-color-primary);
	backdrop-filter: blur(10px);
}

.btn-secondary {
	@extend %btn;
	background-color: var(--color-tertiary);
	color: var(--text-color-primary);
	backdrop-filter: blur(10px);
}
