:root {
	//colors
	--background-color-main: #fdfffc;
	--color-primary: rgb(38, 43, 111);
	--color-secondary: rgb(189, 153, 76);
	--color-tertiary: #3f3f37;

	//fonts and texts
	--font-family-bold: "Formula1Bold", sans-serif;
	--font-family-regular: "Formula1Regular", sans-serif;
	--text-color-primary: #fdfffc;
	--header-text-color: #262b6f;
	--text-color-secondary: #000000;
	--color-white: #fdfffc;

	//shadow
	--shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
}
