.schedule {
	grid-row: 5;
	grid-column: 1 / span 3;

	display: grid;
	justify-items: center;
	align-items: center;

	grid-template-rows: 10rem 100rem;

	&__header {
		grid-row: 1;
	}

	img {
		grid-row: 2;
		width: 90%;
		height: 100%;
		border-radius: 2rem;
		box-shadow: var(--shadow);

		@media only screen and (max-width: 80em) {
			width: 90%;
			height: 30%;
		}
	}
}
