.schedule {
	grid-row: 5;
	grid-column: 1 / span 3;

	display: grid;
	justify-items: center;
	align-items: center;
	row-gap: 6rem;

	grid-template-rows: 10rem min-content;

	@media only screen and (max-width: 100em) {
		display: flex;
		flex-direction: column;
	}

	&__header {
		grid-row: 1;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 6rem;
		padding: 2rem;

		img {
			grid-row: 2;
			width: 100%;
			height: 100%;
			border-radius: 2rem;
			box-shadow: var(--shadow);
		}
	}
}
